/* font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Outfit', sans-serif;*/

:root {
  --primary-color-white: #fcf9f9;
  --secondary-color-light-grey: #f1f864;
  --third-color-grey: #bceb3c;
  --fourth-color-dark-grey: #7cbd1e;
}



h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../images/main.jpg);
     background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}


.main-page{
  border-top: 4px solid var(--fourth-color-dark-grey);
}




/*Navigation*/


nav{
  padding: 20px 0;
}

nav ul{
  margin: 0;
  padding: 22px;
  
}

nav li{
  display: inline;
  list-style: none;
  line-height: 40px;
  padding: 20px;
}

nav a{
  text-decoration: none;
  color: var(--fourth-color-dark-grey);
  font-weight: 800;
  font-size: 30px;
  padding: 20px;
  transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a{
  color: var(--primary-color-white);
  background-color: var(--fourth-color-dark-grey);
}

.icon{
  max-width: 90px;
  max-height: 90px;
}


@media (max-width: 960px) {
  nav a{
    font-size:20px;
    
  }
  nav li{
    padding: 0px;
    display:block;
   
  }

  .nav-item{
    color: var(--primary-color-white);
  }
 .navigation{
  background-color: var(--fourth-color-dark-grey);
 }


}




